TELEGRAM_TOKEN=TU_TOKEN_AQUI
OPENROUTER_KEY=sk-or-v1-...
GROQ_KEY=gsk_...
GEMINI_KEY=AQ.Ab8...
OPENWEATHER_KEY=8791be...
NEWSAPI_KEY=46acdc...
EXCHANGERATE_KEY=9a0ae9...
POLLINATIONS_KEY=sk_u25ha...